<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        .navbar {
            height: 10px !important;
        }
    </style>

    <title>Admin panel</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a href="#" id="head" class="navbar-brand  navbar-left">
        </a>
    </div>
    <div class="pull-right">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-link text-muted">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid table-active">
    <div class="row vh-100">
        <div class="col-md-2 vh-100 table-light pl-0 pr-0 pt-3">
            <ul class="nav nav-pills flex-column" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link active" href="#" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/admin-user}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 vh-100 d-flex">
            <div class="container-fluid vh-100">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" th:href="@{/admin}">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a id="new_user_form" class="nav-link" href="#">New user</a>
                    </li>
                </ul>
                <div>
                    <table class="table table-bordered table-light">
                        <thead class="table-active">
                        <tr style="font-size: 20px">
                            <th id="table_name"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <div id="table_data" class="pt-3 pr-3 pl-3">

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
                <button class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body" style="padding-right: 50px; padding-left: 50px">
                <form action="#" id="editUser" class="m-3" role="form"
                      method="post">
                    <div class="form-group">
                        <label for="id1">ID</label>
                        <input id="id1" class="form-control" type="text"
                               placeholder="Введите ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName1">First name</label>
                        <input id="firstName1" class="form-control" type="text"
                               placeholder="Введите имя">
                    </div>
                    <div class="form-group">
                        <label for="lastName1">Last name</label>
                        <input id="lastName1" class="form-control" type="text"
                               placeholder="Введите фамилию">
                    </div>
                    <div class="form-group">
                        <label for="age1">Age</label>
                        <input id="age1" class="form-control" type="text"
                               placeholder="Введите возраст">
                    </div>
                    <div class="form-group">
                        <label for="email1">Email</label>
                        <input id="email1" class="form-control" type="email"
                               placeholder="Введите email">
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input id="password1" class="form-control" type="password"
                               placeholder="Введите пароль">
                    </div>
                    <div class="form-group">
                        <label for="role1">Role</label>
                        <select class="custom-select" style="height: 40px" id="role1" multiple>
                            <option name="roles"


                            ></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-dismiss="modal" form="editUser">Close</button>
                <button class="btn btn-success" type="submit" form="editUser">Edit</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete user</h4>
                <button class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body" style="padding-right: 50px; padding-left: 50px">
                <form action="#" id="data" class="m-3" role="form" th:action="@{/admin/delete}"
                      method="post">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input id="id" class="form-control" type="text"
                               placeholder="Введите ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input id="firstName" class="form-control" type="text"
                               placeholder="Введите имя" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input id="lastName" class="form-control" type="text"
                               placeholder="Введите фамилию" readonly>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input id="age" class="form-control" type="text"
                               placeholder="Введите возраст" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" class="form-control" type="email"
                               placeholder="Введите email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" class="form-control" type="password"
                               placeholder="Введите пароль" readonly>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select class="custom-select" style="height: 40px" id="role" multiple
                                readonly>
                            <option name="roles"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-dismiss="modal" form="data">Close</button>
                <button class="btn btn-danger" type="submit" form="data">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    `use strict`
    let str = "";
    fetch("/user_data").then(
        res => {
            res.json().then(
                data => {
                    let role = "";
                    $.each(data.roles, function (index, value) {
                        role += value.name + " ";
                    })
                    str = `<strong>${data.login}</strong> with roles: ${role}`;
                    document.getElementById("head").innerHTML = str;
                })
        })
</script>

<script>
    window.onload = function () {
        let a = document.getElementById("new_user_form");
        a.onclick = function () {
            let input_form = "<div class=\"container text-center\" style=\"width: 350px\">\n" +
                "                                    <form action=\"#\" id=\"data\" class=\"m-3\" role=\"form\" th:action=\"@{/admin/add}\" method=\"post\">\n" +
                "                                        <div class=\"form-group\">\n" +
                "                                            <label for=\"firstName\">First name</label>\n" +
                "                                            <input id=\"firstName\" class=\"form-control\" type=\"text\"\n" +
                "                                                   placeholder=\"Введите имя\">\n" +
                "                                        </div>\n" +
                "                                        <div class=\"form-group\">\n" +
                "                                            <label for=\"lastName\">Last name</label>\n" +
                "                                            <input id=\"lastName\" class=\"form-control\" type=\"text\"\n" +
                "                                                   placeholder=\"Введите фамилию\">\n" +
                "                                        </div>\n" +
                "                                        <div class=\"form-group\">\n" +
                "                                            <label for=\"age\">Age</label>\n" +
                "                                            <input id=\"age\" class=\"form-control\" type=\"text\"\n" +
                "                                                   placeholder=\"Введите возраст\">\n" +
                "                                        </div>\n" +
                "                                        <div class=\"form-group\">\n" +
                "                                            <label for=\"email\">Email</label>\n" +
                "                                            <input id=\"email\" class=\"form-control\" type=\"email\"\n" +
                "                                                   placeholder=\"Введите email\">\n" +
                "                                        </div>\n" +
                "                                        <div class=\"form-group\">\n" +
                "                                            <label for=\"password\">Password</label>\n" +
                "                                            <input id=\"password\" class=\"form-control\" type=\"password\"\n" +
                "                                                   placeholder=\"Введите пароль\">\n" +
                "                                        </div>\n" +
                "                                        <div class=\"form-group\">\n" +
                "                                            <label for=\"role\">Role</label>\n" +
                "                                            <select class=\"custom-select\" style=\"height: 40px\" id=\"role\" multiple>\n" +
                "                                                <option name=\"roles\"></option>\n" +
                "                                            </select>\n" +
                "                                        </div>\n" +
                "                                        <div>\n" +
                "                                            <button class=\"btn btn-success\" type=\"submit\" form=\"data\">Add new user</button>\n" +
                "                                        </div>\n" +
                "                                    </form>\n" +
                "                                </div>"
            document.getElementById("table_data").innerHTML = input_form;
            document.getElementById("table_name").innerText = "Add new user";
            return false;
        }
    }
</script>

<script>
    `use strict`
    fetch("/admin/users_data").then(
        res => {
            res.json().then(
                data => {
                    console.log(data);
                    if (data.length > 0) {
                        let temp = "<table class=\"table table-hover table-borderless\">\n" +
                            "           <thead>\n" +
                            "               <tr>\n" +
                            "                   <th>ID</th>\n" +
                            "                   <th>First Name</th>\n" +
                            "                   <th>Last Name</th>\n" +
                            "                   <th>Age</th>\n" +
                            "                   <th>Email</th>\n" +
                            "                   <th>Role</th>\n" +
                            "                   <th>Edit</th>\n" +
                            "                   <th>Delete</th>\n" +
                            "               </tr>\n" +
                            "            </thead>\n" +
                            "            <tbody>";
                        data.forEach((el) => {
                                let role = "";
                                $.each(el.roles, function (index, value) {
                                    role += value.name + " ";
                                })
                                temp += `<tr class=\'vertical-align: middle\'>
                                             <td>${el.id}</td>
                                             <td>${el.firstName}</td>
                                             <td>${el.lastName}</td>
                                             <td>${el.age}</td>
                                             <td>${el.login}</td>
                                             <td>${role}</td>
                                             <td>
                                                 <button class="btn btn-info btn-sm" data-toggle="modal"
                                                                data-target="#editModal">Edit
                                                 </button>
                                             </td>
                                             <td>
                                                 <button class="btn btn-danger btn-sm" data-toggle="modal"
                                                                data-target="#deleteModal">Delete</button>
                                             </td>
                                        </tr>`
                            }
                        )
                        temp += "</tbody>" +
                            "</table>";
                        document.getElementById("table_data").innerHTML = temp;
                        document.getElementById("table_name").innerText = "All users";
                    }
                }
            )
        }
    )
</script>
<!-- Последняя компиляция и сжатый CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Дополнение к теме -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Последняя компиляция и сжатый JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>