<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        .navbar {
            height: 10px !important;
        }
    </style>

    <title>Admin panel</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a href="#" id="head" class="navbar-brand  navbar-left">
        </a>
    </div>
    <div class="pull-right">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-link text-muted">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid table-active vh-100">
    <div class="row vh-100">
        <div class="col-md-2 vh-100 table-light pl-0 pr-0 pt-3">
            <ul class="nav nav-pills flex-column" aria-orientation="vertical">
                <li class="nav-item">
                    <a id="admin_link" class="nav-link active" onclick="show_users()">Admin</a>
                </li>
                <li class="nav-item">
                    <a id="user_link" class="nav-link" onclick="show_user_data()">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 vh-100 d-flex">
            <div class="container-fluid vh-100">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" id="users_table" onclick="show_users()" href="#">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new_user_form" onclick="show_input_form()" href="#">New user</a>
                    </li>
                </ul>
                <div>
                    <table class="table table-bordered table-light">
                        <thead class="table-active">
                        <tr style="font-size: 20px">
                            <th id="table_name"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <div id="table_data" class="pt-3 pr-3 pl-3">

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
                <button class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body" style="padding-right: 50px; padding-left: 50px">
                <form id="editUser" class="m-3" role="form" method="post">
                    <div class="form-group">
                        <label for="id_edit">ID</label>
                        <input id="id_edit" class="form-control" type="text" value=""
                               placeholder="Введите ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName_edit">First name</label>
                        <input id="firstName_edit" class="form-control" type="text"
                               placeholder="Введите имя">
                    </div>
                    <div class="form-group">
                        <label for="lastName_edit">Last name</label>
                        <input id="lastName_edit" class="form-control" type="text"
                               placeholder="Введите фамилию">
                    </div>
                    <div class="form-group">
                        <label for="age_edit">Age</label>
                        <input id="age_edit" class="form-control" type="text"
                               placeholder="Введите возраст">
                    </div>
                    <div class="form-group">
                        <label for="login_edit">Email</label>
                        <input id="login_edit" class="form-control" type="email"
                               placeholder="Введите email">
                    </div>
                    <div class="form-group">
                        <label for="password_edit">Password</label>
                        <input id="password_edit" class="form-control" type="password"
                               placeholder="Введите пароль">
                    </div>
                    <div class="form-group">
                        <label for="roles_edit">Role</label>
                        <select id="roles_edit" class="custom-select" style="height: 40px" multiple>
                            <option name="roles"></option>
                            <option name="ADMIN">ADMIN</option>
                            <option name="USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-dismiss="modal" form="editUser">Close</button>
                <button class="btn btn-success" type="submit" form="editUser"
                        onclick="update_user($('#id_edit').val())">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete user</h4>
                <button class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body" style="padding-right: 50px; padding-left: 50px">
                <form id="data" class="m-3" role="form" method="post">
                    <div class="form-group">
                        <label for="id_delete">ID</label>
                        <input id="id_delete" class="form-control" type="text"
                               placeholder="Введите ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName_delete">First name</label>
                        <input id="firstName_delete" class="form-control" type="text"
                               placeholder="Введите имя" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastName_delete">Last name</label>
                        <input id="lastName_delete" class="form-control" type="text"
                               placeholder="Введите фамилию" readonly>
                    </div>
                    <div class="form-group">
                        <label for="age_delete">Age</label>
                        <input id="age_delete" class="form-control" type="text"
                               placeholder="Введите возраст" readonly>
                    </div>
                    <div class="form-group">
                        <label for="login_delete">Email</label>
                        <input id="login_delete" class="form-control" type="email"
                               placeholder="Введите email" readonly>
                    </div>

                    <div class="form-group">
                        <label for="roles_delete">Role</label>
                        <select id="roles_delete" class="custom-select" style="height: 40px" multiple
                                readonly>
                            <option name="roles"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-dismiss="modal" form="data">Close</button>
                <button class="btn btn-danger" type="submit" form="data"
                        onclick="delete_user($('#id_delete').val())">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    `use strict`

    $(document).ready(function () {
        show_users()
    })

    function show_user_data() {

        fetch("/user_data").then(
            res => {
                res.json().then(
                    data => {
                        let role = "";
                        $.each(data.roles, function (index, value) {
                            role += value.name + " ";
                        })
                        console.log(data);
                        let table = `<table class=\"table table-hover table-borderless\">
                                       <thead>
                                           <tr>
                                               <th>ID</th>
                                               <th>First Name</th>
                                               <th>Last Name</th>
                                               <th>Age</th>
                                               <th>Email</th>
                                               <th>Role</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                            <tr>
                                               <td>${data.id}</td>
                                               <td>${data.firstName}</td>
                                               <td>${data.lastName}</td>
                                               <td>${data.age}</td>
                                               <td>${data.login}</td>
                                               <td>${role}</td>
                                            </tr>
                                       </tbody>
                                     </table>`
                        document.getElementById("table_data").innerHTML = table;
                    }
                )
            }
        )
        $(`#admin_link`).removeClass(`active`);
        $(`#user_link`).addClass(`active`);
    }

    let str = "";
    fetch("/user_data").then(
        res => {
            res.json().then(
                data => {
                    let role = "";
                    $.each(data.roles, function (index, value) {
                        role += value.name + " ";
                    })
                    str = `<strong>${data.login}</strong> with roles: ${role}`;
                    document.getElementById("head").innerHTML = str;
                })
        })

    function show_input_form() {
        let input_form = `<div class="container text-center" style="width: 350px">
                          <form id="data" class="m-3" role="form">
                               <div class="form-group">
                                   <label for="firstName_input">First name</label>
                                   <input id="firstName_input" class="form-control" type="text"
                                          placeholder="Введите имя">
                               </div>
                               <div class="form-group">
                                    <label for="lastName_input">Last name</label>
                                    <input id="lastName_input" class="form-control" type="text"
                                           placeholder="Введите фамилию">
                               </div>
                               <div class="form-group">
                                    <label for="age_input">Age</label>
                                    <input id="age_input" class="form-control" type="text"
                                           placeholder="Введите возраст">
                               </div>
                               <div class="form-group">
                                    <label for="login_input">Email</label>
                                    <input id="login_input" class="form-control" type="email"
                                           placeholder="Введите email">
                               </div>
                               <div class="form-group">
                                    <label for="password_input">Password</label>
                                    <input id="password_input" class="form-control" type="password"
                                           placeholder="Введите пароль">
                               </div>
                                    <div class="form-group">
                                    <label for="roles_input">Role</label>
                                    <select id="roles_input" class="custom-select" style="height: 40px" multiple>
                                       <option name="ADMIN">ADMIN</option> <option name="USER">USER</option>"
                                    </select>
                                    </div>
                                    <div>
                                       <button id="add_user" onclick="send_user()" class="btn btn-success" type="submit"
                                               form="data">Add new user</button>
                               </div>
                          </form>
                          </div>`
        document.getElementById("table_data").innerHTML = input_form;
        document.getElementById("table_name").innerText = "Add new user";
        $(`#users_table`).removeClass(`active`);
        $(`#new_user_form`).addClass(`active`);
        return false;
    }

    function show_users() {
        $(`#table_data`).empty();
        $.get("/admin/users_data", function (data) {
            console.log(data);
            let table = `<table class=\"table table-hover table-borderless\">
                           <thead>
                               <tr>
                                   <th>ID</th>
                                   <th>First Name</th>
                                   <th>Last Name</th>
                                   <th>Age</th>
                                   <th>Email</th>
                                   <th>Role</th>
                                   <th>Edit</th>
                                   <th>Delete</th>
                               </tr>
                            </thead>
                            <tbody>`;
            for (i = 0; i < data.length; i++) {
                let role = "";
                $.each(data[i].roles, function (index, value) {
                    role += value.name + " ";
                })
                table += `<tr class=\'vertical-align: middle\'>
                            <td>${data[i].id}</td>
                            <td id="firstName${data[i].id}">${data[i].firstName}</td>
                            <td id="lastName${data[i].id}">${data[i].lastName}</td>
                            <td id="age${data[i].id}">${data[i].age}</td>
                            <td id="login${data[i].id}">${data[i].login}</td>
                            <td id="roles${data[i].id}">${role}</td>
                            <td>
                                <button id="edit" class="btn btn-info btn-sm" data-toggle="modal"
                                        data-target="#editModal" onclick="doWhenOpeningEditModal('${data[i].id}')">Edit
                                </button>
                            </td>
                            <td>
                                <button id="delete" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#deleteModal" onclick="doWhenOpeningDeleteModal('${data[i].id}')">Delete
                                </button>
                            </td>
                        </tr>`
            }
            table += "</tbody>" +
                "</table>";
            document.getElementById("table_data").innerHTML = table;
            document.getElementById("table_name").innerText = "All users";
        })
        $(`#users_table`).addClass(`active`);
        $(`#new_user_form`).removeClass(`active`);
        $(`#admin_link`).addClass(`active`);
        $(`#user_link`).removeClass(`active`);
    }

    function doWhenOpeningDeleteModal(id) {
        let firstName = $('#firstName' + id).text();
        let lastName = $('#lastName' + id).text();
        let age = $('#age' + id).text();
        let login = $('#login' + id).text();
        let roles = $('#roles' + id).text().trim().split(" ");
        $('#id_delete').val(id);
        $('#firstName_delete').val(firstName);
        $('#lastName_delete').val(lastName);
        $('#age_delete').val(age);
        $('#login_delete').val(login);
        $('#roles_delete').empty();
        $.each(roles, function (key, value) {
            $('#roles_delete').append('<option value="' + key + '">' + value + '</option>');
        });
    }

    function doWhenOpeningEditModal(id) {
        let firstName = $('#firstName' + id).text();
        let lastName = $('#lastName' + id).text();
        let age = $('#age' + id).text();
        let login = $('#login' + id).text();
        let roles = $('#roles' + id).text().trim().split(" ");
        console.log(firstName + lastName + age + login + roles)
        $('#id_edit').val(id);
        $('#firstName_edit').val(firstName);
        $('#lastName_edit').val(lastName);
        $('#age_edit').val(age);
        $('#login_edit').val(login);
    }

    function delete_user(id_value) {
        console.log(id_value);
        $.ajax(`/admin/delete/` + id_value, {
            method: "DELETE",
            data: {id: id_value},
            dataType: "text",
            success:
                function () {
                    show_users()
                }
        })
    }

    function send_user() {
        $.ajax({
            url: `/add_user`,
            dataType: `json`,
            type: `POST`,
            cache: `false`,
            contentType: `application/json`,
            data: JSON.stringify({
                id: $("#id_input").val(),
                firstName: $("#firstName_input").val(),
                lastName: $("#lastName_input").val(),
                age: $("#age_input").val(),
                login: $("#login_input").val(),
                password: $("#password_input").val(),
                roles: $("#roles_input").val()
            }),
            success: function () {
                show_users();
            }
        })
    }

    function update_user() {
        $.ajax({
            url: `/add_user`,
            dataType: `json`,
            type: `POST`,
            cache: `false`,
            contentType: `application/json`,
            data: JSON.stringify({
                id: $("#id_edit").val(),
                firstName: $("#firstName_edit").val(),
                lastName: $("#lastName_edit").val(),
                age: $("#age_edit").val(),
                login: $("#login_edit").val(),
                password: $("#password_edit").val(),
                roles: $("#roles_edit").val()
            }),
            success: function () {
                show_users();
            }
        })
    }
</script>
<!--<script src="../static/js/admin.js"></script>-->
<!-- Последняя компиляция и сжатый CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Дополнение к теме -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Последняя компиляция и сжатый JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>