<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">

    <div class="starter-template">
        <h1>Admin page</h1>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</div>
<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <caption>
        <h2>Users</h2>
    </caption>
    <thead>
    <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="user : ${users}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.login}"></td>
        <td>
            <th:block th:each="role : ${user.roles}">
                <div th:utext="${role.getName()}"></div>
            </th:block>
        </td>
        <td><a href="#" th:href="@{admin/users/delete(id=${user.getId()})}">del</a> |
            <a href="#" th:href="@{admin/edit-user(id=${user.getId()})}">edit</a>
        </td>
        </th:block>
    </tr>
    </tbody>
</table>
<br><br>
<h2>Save User:</h2>
<form action="#" th:action="@{/registration/save}" th:object="${user}" method="post">
    <label for="firstName">First Name</label><br>
    <input id="firstName" name="firstName" type="text" th:field="*{firstName}"><br><br>
    <label for="lastName">Last Name</label><br>
    <input id="lastName" name="lastName" type="text" th:field="*{lastName}"><br><br>
    <label for="age">Age</label><br>
    <input id="age" name="age" type="text" th:field="*{age}"><br><br>
    <label for="login">Emaile</label><br>
    <input id="login" name="login" type="text" th:field="*{login}"><br><br>
    <label for="password">Password</label><br>
    <input id="password" name="password" type="text" th:field="*{password}"><br><br>
    <ul>
        <li th:each="name : ${ROLES}">
            <input type="checkbox" name="rolesValues" th:value="${name}"/>
            <label th:text="${name}"></label>
        </li>
    </ul>

    <input type="submit" value="Save">
</form>
</body>
</html>